.navbar {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  max-width: 1000px;
  border: 0;
  margin: 0 auto;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 5px;
  border-bottom: 1px solid #e4e4e4; }

.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
  color: #6bc6ed; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6bc6ed; }

.navbar-nav li a:hover {
  color: #6bc6ed !important; }

.navbar-brand:hover {
  color: #6bc6ed !important; }

.navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
  color: #6bc6ed !important; }

.navbar-brand img {
  width: 150px;
  margin-top: -5px; }
