$padding : 50px;
$primary-color : #59b0d0;
$link-color : $primary-color;
$visited-link : darken($link-color, 10%);
$text-h-color : #434a54;
a {
    color: $primary-color;
    transition: color ease 0.3s;
}
a:visited {
    color: $visited-link
}
a:hover {
    color: $visited-link;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: $visited-link
}
article h2 {
    font-size: 3rem;
    line-height: 1.2em;
}
.post-highlight {
    position: relative;
    padding-bottom: 2rem;
    border-bottom: #ccc 1px solid;
}
.post-title a {
    text-decoration: none;
    color: $text-h-color;
}
.post-highlight:hover {
    border-bottom: 1px solid $primary-color;
}
.post-title span.date {
    color: $primary-color;
    float: right;
    font-size: 15px;
    font-weight: 100;
    padding-top: 10px;
    letter-spacing: 2px;
}