a {
  color: #59b0d0;
  transition: color ease 0.3s; }

a:visited {
  color: #369bc0; }

a:hover {
  color: #369bc0;
  text-decoration: underline; }

/* selected link */
a:active {
  color: #369bc0; }

article h2 {
  font-size: 3rem;
  line-height: 1.2em; }

.post-highlight {
  position: relative;
  padding-bottom: 2rem;
  border-bottom: #ccc 1px solid; }

.post-title a {
  text-decoration: none;
  color: #434a54; }

.post-highlight:hover {
  border-bottom: 1px solid #59b0d0; }

.post-title span.date {
  color: #59b0d0;
  float: right;
  font-size: 15px;
  font-weight: 100;
  padding-top: 10px;
  letter-spacing: 2px; }
